<%- include('./partials/head.ejs') %>

    <main class="container" id="docs">
        <aside id="docs-aside">
            <nav>
                <ul>
                    <li>
                        <div class="dropdown">
                            <div class="dropdown-head">
                                <p>Installation</p>
                                <img src="/img/chevron-icon.svg" alt="dropdown-icon">
                            </div>

                            <div class="dropdown-content d-none-important">
                                <ul>
                                    <li data-target="win-installation">Windows</li>
                                    <li data-target="mac-installation">Mac</li>
                                    <li data-target="linux-installation">Linux</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li data-target="docs-repl">REPL</li>
                    <li data-target="docs-npm">NPM</li>
                    <li data-target="docs-modules">Modules</li>
                    <li data-target="docs-frameworks">Frameworks</li>
                    <li data-target="docs-template-engines">Template Engines</li>
                </ul>
            </nav>
        </aside>
        
        <section id="docs-content">
            <div id="docs-installation">
                <%- include('./partials/docs/installation/win-installation.ejs') %>
                <%- include('./partials/docs/installation/mac-installation.ejs') %>
                <%- include('./partials/docs/installation/linux-installation.ejs') %>
            </div>

            <%- include('./partials/docs/docs-repl.ejs') %>
            <%- include('./partials/docs/docs-npm.ejs') %>
            <%- include('./partials/docs/docs-modules.ejs') %>
            <%- include('./partials/docs/docs-frameworks.ejs') %>
            <%- include('./partials/docs/docs-template-engines.ejs') %>
        </section>
    </main>

<%- include('./partials/footer.ejs') %>